.text-center {
    text-align: center;
}

.home-wrapper {
    width: 600px;
    margin: 0 auto;
    border: 2px solid yellow;
    padding: 2px;
}

.header {
    border: 2px solid steelblue;
    padding: 10px;
    margin-bottom: 2px;
}

.searchbar {
    border: 2px solid limegreen;
    min-height: 40px;
    margin-bottom: 2px;
    padding: 2px 5px;
    overflow: hidden;
    position: relative;
}

.search {
    padding: 0 40px 0 16px;
    width: calc(100% - 60px);
    height: 40px;
    border-radius: 8px;
    border: 2px solid lightgreen;
    font-size: 16px;
}

.searchbar button {
    background: none;
    border: 0;
    appearance: none;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    width: 40px;
    height: 100%;
}

.searchbar svg path {
    fill: lightgreen;
}

.employee-list {
    border: 2px solid purple;
    padding: 2px;
    margin-bottom: 2px;
}

.employee-list-item {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid mediumpurple;
    padding: 2px;
}

.employee-list-item li {
    border: 2px solid palevioletred;
    padding: 5px 10px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.employee-list-item li img {
    border-radius: 50%;
    margin-right: 10px;
}

.employee-list-item li p {
    margin: 0;
}

.employee-list-item li p:last-child {
    color: #8a8a8a;
}